* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
 Torn left edge banner https://opdiv.com/2021/02/28/torn-edges-css/

 License: GPL 3.0
 License URL: https://www.gnu.org/licenses/gpl-3.0.en.html

 Structure:
 <div class="torn_container torn_left torn_right">
	<div></div>
	<div>Torn Edge Banner</div>
 </div>
*/

body {
  /* Settings */
  --torn-shadow-offset-x: -2px;
  --torn-shadow-offset-y: 2px;
  --torn-shadow-background-color: rgba(158, 127, 127, 0.25);
  --torn-background-color: rgba(188, 0, 45, 0.8);
  --torn-left-width: 11px;
  --torn-right-width: 11px;
  --torn-left-clip-path: polygon(
    56% 0%,
    94% 1%,
    78% 3%,
    71% 4%,
    90% 5%,
    54% 7%,
    22% 8%,
    100% 9%,
    45% 11%,
    45% 12%,
    65% 14%,
    45% 15%,
    58% 16%,
    47% 18%,
    48% 19%,
    11% 20%,
    45% 22%,
    47% 23%,
    29% 24%,
    66% 26%,
    3% 27%,
    94% 28%,
    77% 30%,
    41% 31%,
    41% 32%,
    57% 34%,
    30% 35%,
    24% 36%,
    23% 38%,
    99% 39%,
    44% 41%,
    27% 42%,
    30% 43%,
    25% 45%,
    5% 46%,
    76% 47%,
    68% 49%,
    95% 50%,
    41% 51%,
    51% 53%,
    66% 54%,
    37% 55%,
    45% 57%,
    38% 58%,
    59% 59%,
    40% 61%,
    33% 62%,
    92% 64%,
    50% 65%,
    65% 66%,
    54% 68%,
    99% 69%,
    93% 70%,
    33% 72%,
    6% 73%,
    54% 74%,
    55% 76%,
    43% 77%,
    61% 78%,
    77% 80%,
    10% 81%,
    74% 82%,
    89% 84%,
    94% 85%,
    50% 86%,
    8% 88%,
    2% 89%,
    51% 91%,
    70% 92%,
    42% 93%,
    14% 95%,
    51% 96%,
    79% 97%,
    18% 99%,
    3% 100%,
    calc(100% + 1px) 100%,
    calc(100% + 1px) 0%
  );
  --torn-right-clip-path: polygon(
    38% 0%,
    61% 1%,
    98% 3%,
    61% 4%,
    38% 5%,
    36% 7%,
    97% 8%,
    77% 9%,
    99% 11%,
    82% 12%,
    79% 14%,
    62% 15%,
    5% 16%,
    24% 18%,
    78% 19%,
    28% 20%,
    11% 22%,
    33% 23%,
    77% 24%,
    37% 26%,
    65% 27%,
    22% 28%,
    49% 30%,
    80% 31%,
    5% 32%,
    80% 34%,
    60% 35%,
    92% 36%,
    81% 38%,
    29% 39%,
    6% 41%,
    82% 42%,
    74% 43%,
    33% 45%,
    12% 46%,
    32% 47%,
    53% 49%,
    30% 50%,
    15% 51%,
    81% 53%,
    21% 54%,
    2% 55%,
    40% 57%,
    63% 58%,
    79% 59%,
    41% 61%,
    94% 62%,
    53% 64%,
    78% 65%,
    42% 66%,
    38% 68%,
    26% 69%,
    31% 70%,
    68% 72%,
    41% 73%,
    61% 74%,
    9% 76%,
    28% 77%,
    8% 78%,
    48% 80%,
    17% 81%,
    42% 82%,
    54% 84%,
    70% 85%,
    30% 86%,
    5% 88%,
    15% 89%,
    88% 91%,
    29% 92%,
    94% 93%,
    92% 95%,
    30% 96%,
    73% 97%,
    14% 99%,
    30% 100%,
    -10% 100%,
    -10% 0%
  );
}

.torn_container {
  float: left;
  clear: both;
  margin-bottom: 1.1em;
  position: relative;
}

.torn_container > div:first-child {
  margin-left: var(--torn-shadow-offset-x);
  margin-top: var(--torn-shadow-offset-y);
  left: calc(0px - var(--torn-shadow-offset-x));
  top: 0px;
  right: calc(-1px - var(--torn-shadow-offset-x));
  bottom: calc(0px - var(--torn-shadow-offset-y));
  position: absolute;
  z-index: 1;
  filter: blur(var(--torn-shadow-blur));
}

.torn_container > div:nth-child(2),
.torn_left > div:nth-child(2):before,
.torn_right > div:nth-child(2):after {
  background-color: var(--torn-background-color);
  background-image: url("../../public/img/paper.png");
}
.torn_container > div:nth-child(2),
.torn_container > div:nth-child(2) {
  position: relative;
  z-index: 2;
}

.torn_left > div:nth-child(2):before {
  content: "";
  position: absolute;
  left: calc(8px - var(--torn-left-width));
  top: 0px;
  width: calc(14px - var(--torn-left-width));
  bottom: 0px;
  -webkit-clip-path: var(--torn-left-clip-path);
  clip-path: var(--torn-left-clip-path);
}

.torn_left > div:first-child:before {
  content: "";
  position: absolute;
  left: calc(5px - var(--torn-left-width));
  top: 0px;
  width: calc(17px - var(--torn-left-width));
  bottom: 0px;
  -webkit-clip-path: var(--torn-left-clip-path);
  clip-path: var(--torn-left-clip-path);
}
.torn_container > div:first-child,
.torn_left > div:first-child:before,
.torn_right > div:first-child:after {
  background-color: var(--torn-shadow-background-color);
}

.torn_right > div:nth-child(2):after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  right: calc(9px - var(--torn-right-width));
  bottom: 0px;
  -webkit-clip-path: var(--torn-right-clip-path);
  clip-path: var(--torn-right-clip-path);
}

.torn_right > div:first-child:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  right: calc(5px - var(--torn-right-width));
  bottom: 0px;
  -webkit-clip-path: var(--torn-right-clip-path);
  clip-path: var(--torn-right-clip-path);
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Nothing You Could Do";
  text-align: center;
  background-color: #ede4cc;
  background-image: url("../../public/img/paper.png");
  width: auto;
}


.header {
  background-color: rgba(188, 0, 45, 0.8);
  box-shadow: 0px 0px 1px #8a4d0f;
  background-image: url("../../public/img/paper.png");
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.header-phrase {
  font-size: 1.5rem;
}

.filters {
  height: auto;
  background-color: rgba(104, 195, 163, 0.6);
  border: 1px solid rgba(218, 165, 32, 0.2);
  box-shadow: 0px 0px 1px #8a4d0f;
  background-image: url("../../public/img/paper.png");
  width: 100%;
  padding: 20px;
}

.links-header {
  height: auto;
  background-color: rgba(218, 165, 32, 0.1);
  /* border: 1px solid rgba(218, 165, 32, 0.2); */
  /* box-shadow: 0px 0px 1px #8a4d0f; */
  background-image: url("../../public/img/paper.png");
  /* width: 100%; */
  /* padding: 20px; */
}

.links-header a {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
}

.filters h2 {
  display: inline-block;
  margin: 20px;
}
.filters .ratings-link {
  display: disabled;
}

.filters p {
  margin-top: 20px;
  font-size: 1.5rem;
}

.filters span {
  margin: 5px;
  font-size: 1.5rem;
}

.filters h1 {
  font-size: 2rem;
}

.filters select {
  width: 200px;
  text-align: center;
  padding: 15px;
  margin: 25px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.yokai-cards-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow-y: auto;
  justify-content: space-around;
  box-shadow: 0 -5px 60px #8a4d0f inset;
  background-image: url("../../public/img/paper.png");
  padding: 30px;
  background-color: #ede4cc;
}

.yokai-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 900px;
  margin: 30px;
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2px;
}

.yokai-cards-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 30px;
  padding: 50px;
  padding-top: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: rgba(158, 127, 127, 0.25);
  border-radius: 2px;
}

.yokai-worship-cards-container {
  height: 100%;
  /* display: flex; */
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  /* box-shadow: 0 -5px 60px #8a4d0f inset; */
  background-image: url("../../public/img/paper.png");
  padding: 30px;
  background-color: #ede4cc;
}

/* First place */
.yokai-cards-rating.place-0 { 
  background: #CFB53B;
  background-image: url("../../public/img/paper.png");
  width: 23%;
}
.yokai-cards-rating.place-1 {
  background: #C4CACE;
  background-image: url("../../public/img/paper.png");
  width: 23%;
}
.yokai-cards-rating.place-2 {
  background: #DCA570;
  background-image: url("../../public/img/paper.png");
  width: 23%;
}

.header a {
  text-decoration: none;
  color: black;
}

.yokai-card .kanji {
  font-size: 50px;
  font-family: "Yuji Boku";
}

.header .kanji {
  font-size: 4.4rem;
  font-family: "Yuji Boku";
}

.kanji {
  width:100%;
}

.romaji {
  margin-bottom: 10px;
}

.yokai-card img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  z-index: 100;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px 3px;
}

fieldset {
  border: none;
}

.vote img {
  width: 90%;
  height: 300px;
  object-fit: fill;
  z-index: 100;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px 3px;
}

.yokai-card div {
  font-size: 1.1rem;
}

.yokai-card-description-container {
  height: 200px;
}

.yokai-card-description {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  z-index: 300;
  position: relative;
}

.voting-booth {
  max-width: 400px;
  margin: 0 auto;
}

.vote img {
  margin-top: 30px;
  z-index: 400;
}

form {
  background: rgba(158, 127, 127, 0.25);
}

.vote-question {
  position: sticky;
  top: 0;
  bottom: 0;
  padding: 15px;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(188, 0, 45, 1);
  background-image: url("../../public/img/paper.png");
  color: white;
}

.vote form input[type="radio"] {
  margin: 20px 10px 20px 0;
}

.vote form input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
}

.thanks {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-wrap {
  flex-wrap: nowrap;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  outline: 2px solid deeppink;
}

.ratings .yokai-cards-container  {
  height: 100vh;
}

.yokai-name, .yokai-voting {
  font-size: 30px;
}

.ratings img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  z-index: 100;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px 3px;
}

.rating-btn {
  width: 100%;
  background-color: rgba(188, 0, 45, 1);
  background-image: url("../../public/img/paper.png");
  color: white;
  position: sticky;
  bottom: 0;
  left: 0;
}

.rating-btn input[type="submit"] {
  margin-bottom: 20px;
  font-family: "Nothing You Could Do";
  font-size: 23px;
  padding: 15px;
}

@media (max-width: 683px) {
  .filters-select span {
    display: block;
  }
}

@media (max-width: 464px) {
  .header .kanji {
    font-size: 50px;
  }
}

@media (max-width: 387px) {
  .links-header {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  .header .kanji {
    font-size: 40px;
  }
}
